$dark-nav-color: #2C3840;
//$blue: #005eb8;
//$blue: #0057ac;
$blue: #002D72;
$darkblue: #002D72;
$aqua: #00ab8e;       
$green: #007a53;
$purple: #24135f;
$red: #8a2a2b;
$fireengine: #CF4520;
$yellow: #FBD872;
$rust: #6f2c3f;
$black: #31261d;
$oldblack: #2C2C33;
$bluejaysblue: #418fde;
//$skyblue: #2A78C7;
$skyblue: #68ace5;
$powderblue: lighten($bluejaysblue, 30%);
$orange: #cf4520;
$tangerine: #d07b00;
$fushia: #8e3a80;
$darkaqua: #589c90;
$gold: #807350;
$forest: #003d4c;
$gray: #e5e2e0; //overrides foundation core
$dark-gray: #4A484C; //overrides foundation core
$medium-gray: #d6d6d6;
$light-gray: #f4f4f4;