footer.timely.ai1ec-event-footer {
    background: inherit;
    color: $dark-gray;
}

.timely p {
  font-size: 16px;
  font-family: $font-stack !important;
  font-weight: $font-stack-weight;
}

.entry-content .timely a:visited, .comment-content .timely a:visited, .site-footer .widget .timely a:visited {
  color: $blue;
}

.timely a {
  color: $blue;
  &:link, &:visited, &:active, &:hover {
    color: $blue;
  }
}


.ai1ec-event-time, span.ai1ec-event-title, .ai1ec-event-details {
  font-family: $font-stack-bold !important;
  font-weight: $font-stack-weight;
}

.ai1ec-agenda-widget-view .ai1ec-date {
  background: none !important;
  &.ai1ec-today {
    background: none !important;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none !important;
  background: none !important;
}

.timely {
  font-family: inherit !important;
}

.ai1ec-agenda-widget-view {
  .ai1ec-event {
    .ai1ec-event-time, > a {
      color: $black;
    }
    .ai1ec-event-title {
    }
  }
  .ai1ec-date.ai1ec-today {
    border-top: none;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none;
}

.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month {
  background: $blue;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {
  color: $blue;
}

.ai1ec-event-avatar {
  box-shadow: none;
}

.ai1ec-agenda-view .ai1ec-event:hover .ai1ec-event-title {
    color: $blue;
}

.ai1ec-field-label {
  color: $dark-gray;
}

.ai1ec-subscribe-dropdown.ai1ec-dropdown.ai1ec-btn.ai1ec-btn-default.ai1ec-btn-xs {
    margin-left: .75rem;
    margin-bottom: .75rem;
}

.ai1ec-no-results {
  color: $black;
  padding: .75rem;
  font-size: 1.125rem !important;
}

.ai1ec-pull-left {
  margin-left: .5rem;
}

.ai1ec-event-details.ai1ec-clearfix {
  margin-left: -1rem;
}

.timely.ai1ec-calendar {
  .ai1ec-agenda-view .ai1ec-date-title {
    background-image: none;
    background: $blue;
    color: $white;
    border: none;
  }
  .ai1ec-agenda-view .ai1ec-month {
    font-family: $font-stack-semibold;
    font-weight: $font-stack-semibold-weight;
    color: $white;
    text-align: center;
    padding: 0;
  }
  span.ai1ec-event-title {
    font-size: 1rem;
  }
  .ai1ec-agenda-view .ai1ec-event .ai1ec-event-time {
    font-size: .9rem;
  }
  a.ai1ec-read-more.ai1ec-btn.ai1ec-btn-default.ai1ec-load-event {
    color: $white !important;
    background: $blue !important;
  }
}

.timely .ai1ec-nav-pills > li.ai1ec-active > a, .timely .ai1ec-nav-pills > li.ai1ec-active > a:hover, .timely .ai1ec-nav-pills > li.ai1ec-active > a:focus {
  background-color: $darkblue !important;
}

.ai1ec-active > a, .entry-content .timely .ai1ec-dropdown-menu > .ai1ec-active > a,  {
  //color: $black !important;
}

.ai1ec-dropdown-menu > .ai1ec-active > a, .ai1ec-dropdown-menu > .ai1ec-active > a:hover, .ai1ec-dropdown-menu > .ai1ec-active > a:focus {
  background-color: $darkblue !important;
  color: $white;
}

//Modern Tribe 
//Modern Tribe 
#tribe-events-pg-template .tribe-events-content, .tribe-events-after-html, .tribe-events-before-html{
  h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;   
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
    line-height: 1.45;
    letter-spacing: -.2px;
    margin-bottom: 1rem;
}

.tribe-events-notices {
  @include callout-base;
  @include callout(orange);
}

.categories  {
  dd {
    margin: 0;
    display: inline;
    a {
      @include link;
    }
  }

  dt {
    display: inline-block;
    margin: 0 5px 5px 0;
  }

  dd:after {
    content: '\a';
    white-space: pre;
  }
}

.tribe-events-meta-group.tribe-events-meta-group-details {
  dd {
    margin: 0;
    display: inline;
  }

  dt {
    display: inline-block;
    margin: 0 0 5px 0;
  }

  dd:after {
    content: '\a';
    white-space: pre;
  } 
}

.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
  width: inherit;
}

.single-tribe_events #tribe-events-content .tribe-events-event-meta dd.tribe-events-event-cost, .tribe-events-meta-group.tribe-events-meta-group-details {
  font-family:'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
}

.tribe-events-abbr.tribe-events-start-time.published.dtstart {
  display: inline;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.25rem;
  font-family: $font-stack-bold;
  font-weight: $font-stack-bold-weight;
}

a.tribe-events-gmap, .tribe-events-content p a {
  @include link;
}

.tribe-events-event-image img {
    //max-width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tribe-events-button {
  margin-right: 1.25em;
}

.tribe-events-button.tribe-events-social {
  margin-top: 21px;
}

.events-list {
  .tribe-events-loop {
    max-width: 1000px;
  }
}

/* V2 Views */

.tribe-common {
  a.tribe-common-c-btn-border.tribe-events-c-top-bar__today-button.tribe-common-a11y-hidden {
    font-family: $font-stack !important;
    font-weight: $font-stack-weight !important;
  }
  &-h3, &-h4, &-h5, &-h6, &-h7, &-h8, &-b2, .tribe-common-c-btn {
    font-family: $font-stack-bold !important;
    font-weight: $font-stack-bold-weight !important;
  }
  &-b2 > p, .tribe-common-form-control-text__input {
    font-family: $font-stack !important;
    font-weight: $font-stack-weight !important;
  }
  .tribe-common-c-btn {
    background-color: $blue !important;
    margin-left: 1rem;
  }
  &-b2 {
    font-size: 1rem !important;
  }
  a {
    color: $blue !important;
  }
  .tribe-common-anchor-thin {
    color: $blue !important;
    border-bottom: none !important;
      &:hover {
      color: $black !important;
      border-bottom: none !important;
    }
  }
}
.tribe-events {
  .tribe-events-c-view-selector__list-item-text, .tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-common .tribe-common-form-control-text__input, .tribe-events-calendar-list__event-date-tag-weekday {
    font-family: $font-stack-bold !important;
    font-weight: $font-stack-bold-weight !important;
  }
  .tribe-events-c-ical__link {
    background-color: $blue !important;
    border-color: $blue !important;
    color: $white !important;
    &:before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='%23fefefe' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E") !important;
    }
    &:hover {
    background-color: $white !important;
    border-color: $blue !important;
    color: $blue !important;
      &:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='%23002d72' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E") !important;
      }
    }
  }
  .tribe-events-calendar-month__day--past {
    background: $light-gray;
  }
  .tribe-events-calendar-month__day--current, .tribe-events-calendar-month__day-cell--selected {
    background: $powderblue !important;
    .tribe-events-calendar-month__day-date, .tribe-events-calendar-month__day-date-link {
      color: $blue !important;
    }
  }
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day:hover:after {
  background-color: $blue !important;
}

li.tribe-events-c-top-bar__nav-list-item {
  a {
    color: $black !important;
    border-bottom: none !important;
  }
}

.tribe-common-g-row.tribe-events-calendar-list__event-row {
    border: 1px solid $medium-gray;
    padding: 1rem;
}

input#tribe-events-events-bar-keyword, input#tribe-events-events-bar-location {
  box-shadow: none;
}

.single-tribe_events {
  a.tribe-events-gcal, a.tribe-events-ical {
    color: $blue !important;
  }
}

.tribe-events-calendar-list__event {
  &.has-post-thumbnail {
    .tribe-events-calendar-list__event-details.tribe-common-g-col {
      width: 62.5% !important;
    }
  }
  .tribe-events-calendar-list__event-details.tribe-common-g-col {
    width: 100% !important;
  }
}
