//Google Calendar Embeds
/* Responsive iFrame */
.big-container {
  @include breakpoint (medium down) {
    display: none;
  }
}

.small-container {
  @include breakpoint (large) {
    display: none;
  }
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.widget {
  .responsive-iframe-container {
    margin-bottom: 1rem;
  }
}

//Modern Tribe

#tribe-events-content {
  margin-bottom: .5rem;
}

.tribe-events .tribe-events-l-container {
  padding-top: 1rem !important;
}

#tribe-events-pg-template .tribe-events-content, .tribe-events-after-html, .tribe-events-before-html{
  h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
    line-height: 1.45;
    letter-spacing: -.2px;
    margin-bottom: 1rem;
}

.tribe-events-notices {
  @include callout-base;
  @include callout(orange);
}

.categories  {
  dd {
    margin: 0;
    display: inline;
    a {
      @include link;
    }
  }

  dt {
    display: inline-block;
    margin: 0 5px 5px 0;
  }

  dd:after {
    content: '\a';
    white-space: pre;
  }
}

dd.tribe-event-tags {
  a {
    margin-left: .25rem;
    @include link;
  }
}

.tribe-events-meta-group.tribe-events-meta-group-details,  .tribe-events-meta-group.tribe-events-meta-group-organizer{
  dd {
    margin: 0;
    display: inline;
  }

  dt {
    display: inline-block;
    margin: 0 0 5px 0;
  }

  dd:after {
    content: '\a';
    white-space: pre;
  }
}

.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
  width: inherit;
}

.single-tribe_events #tribe-events-content .tribe-events-event-meta dd.tribe-events-event-cost, .tribe-events-meta-group.tribe-events-meta-group-details dt {
  font-family:'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
}

.tribe-events-abbr.tribe-events-start-time.published.dtstart {
  display: inline;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.25rem;
  font-family: $font-stack-bold;
  font-weight: $font-stack-bold-weight;
}

a.tribe-events-gmap, .tribe-events-content p a, .tribe-events-content li a {
  @include link;
}

.tribe-events-button {
  margin-right: 1.25em;
}

.tribe-events-button.tribe-events-social {
  margin-top: 21px;
}

/* V2 Views */

.tribe-common {
  a.tribe-common-c-btn-border.tribe-events-c-top-bar__today-button.tribe-common-a11y-hidden {
    font-family: $font-stack !important;
    font-weight: $font-stack-weight !important;
  }
  &-h3, &-h4, &-h5, &-h6, &-h7, &-h8, &-b2, .tribe-common-c-btn {
    font-family: $font-stack-bold !important;
    font-weight: $font-stack-bold-weight !important;
  }
  &-b2 > p, .tribe-common-form-control-text__input {
    font-family: $font-stack !important;
    font-weight: $font-stack-weight !important;
  }
  .tribe-common-c-btn {
    background-color: $blue !important;
    margin-left: 1rem;
  }
  &-b2 {
    font-size: 1rem !important;
  }
  a {
    color: $blue !important;
  }
  .tribe-common-anchor-thin {
    color: $blue !important;

      &:hover {
      color: $black !important;

    }
  }
}
.tribe-events {
  .tribe-events-c-view-selector__list-item-text, .tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-common .tribe-common-form-control-text__input, .tribe-events-calendar-list__event-date-tag-weekday, .tribe-events-calendar-latest-past__event-row {
    font-family: $font-stack-bold !important;
    font-weight: $font-stack-bold-weight !important;
  }
  .tribe-events-c-ical__link {
    border-color: $blue !important;
    svg.tribe-common-c-svgicon.tribe-common-c-svgicon--plus.tribe-events-c-ical__link-icon-svg {
      color: $blue !important;
    }
    &:hover {
    border-color: $white !important;
    background-color: $blue !important;
    color: $white !important;
    }
  }
  .tribe-events-calendar-month__day--past {
    background: $light-gray;
  }
  .tribe-events-calendar-month__day--current, .tribe-events-calendar-month__day-cell--selected {
    background: $powderblue !important;
    .tribe-events-calendar-month__day-date, .tribe-events-calendar-month__day-date-link {
      color: $blue !important;
    }
  }
  .tribe-events-c-breadcrumbs__list {
    font-family: $font-stack-bold;
    font-weight: $font-stack-bold-weight;
  }
  .datepicker .day {
    &.active {
      background: $blue;
      color: $white;
      &:hover {
        background: $bluejaysblue;
        color: $black;
      }
    }
    &:hover {
      background: $bluejaysblue;
      color: $black;
    }
  }
}

.tribe-common .tribe-common-c-btn-border-small, .tribe-common a.tribe-common-c-btn-border-small, .tribe-events .datepicker .datepicker-switch, .tribe-events .datepicker .day, .tribe-events .datepicker .dow {
  font-family: $font-stack !important;
  font-weight: $font-stack-weight !important;
}

.tribe-events .datepicker .day, .tribe-events .datepicker .dow {
  color: $black;
}

.tribe-common--breakpoint-medium.tribe-events {
  .tribe-events-calendar-month__day:hover:after {
    background-color: $blue !important;
  }
  .tribe-events-c-breadcrumbs__list {
    font-size: 1.5rem;
  }
}

li.tribe-events-c-top-bar__nav-list-item {
  a {
    color: $black !important;
    border-bottom: none !important;
  }
}

.tribe-common-g-row.tribe-events-calendar-list__event-row, .tribe-common-g-row.tribe-events-calendar-latest-past__event-row {
    border: 1px solid $medium-gray;
    padding: 1rem;
}

input#tribe-events-events-bar-keyword, input#tribe-events-events-bar-location {
  box-shadow: none;
}

.tribe-events-calendar-list__event {
  .tribe-events-calendar-list__event-details.tribe-common-g-col {
    width: 100% !important;
  }
  img.tribe-events-calendar-list__event-featured-image {
    max-height: 300px;
  }
  a.tribe-events-calendar-list__event-title-link.tribe-common-anchor-thin {
    @include link;
    font-size: 1.5rem;
  }
}

.event-is-recurring {
  font-size: 1.125rem;
  color: $black;
  a {
    @include link;
  }
}

time.tribe-events-calendar-list__month-separator-text.tribe-common-h7.tribe-common-h6--min-medium.tribe-common-h--alt {
  font-size: 1.5rem;
}

.tribe-events .tribe-events-calendar-list__event-date-tag-weekday {
  color: $dark-gray !important;
}

/* Classic Editor Events Converted To Block */
.single-tribe_events {
  .tribe-events-single {
    .tribe-events-single-event-title {
      font-size: 1.75rem;
      @include font-header-extrabold;
      color: $black;
      margin-bottom: 0.5rem;
    }
    h2.tribe-events-schedule__datetime, .tribe-events-schedule__separator--date, .tribe-events-schedule__time--start, .tribe-events-schedule__time--end, .tribe-events-schedule__separator--time{
      @include font-stack-semibold;
      color: $black;
    }
    p {
      font-size: 1.25rem;
    }
    .tribe-events-event-meta {
      background: $white;
      border: none;
      margin: 1rem 0;
      .tribe-events-meta-group-details, .tribe-events-meta-group-venue, .tribe-events-meta-group-organizer {
        padding: 0;
        font-size: 1.125rem;
      }
      .tribe-events-event-categories, .tribe-events-event-url {
        a {
          font-size: 1.125rem;
        }
      }
      .tribe-events-meta-group-organizer, .tribe-events-meta-group-venue {
        @media only screen and (max-width: 801px) {
          padding-left: 0%;
          padding-top: 1rem;
        }
        padding-left: 10%;
        padding-top: 0rem;
      }
    }
    .tribe-events-cal-links .tribe-events-button, .tribe-events-event-categories a, .tribe-organizer a, .tribe-venue a, .tribe-events-event-url a {
    color: $blue;
    @include link;
    }
    .tribe-events-event-url,
    #tribe-events-footer {
      display: none;
    }
    .tribe-organizer-url-label, .tribe-organizer-url {
      display: none !important;
    }
    dt.tribe-organizer-email-label {
      @include font-stack-semibold;
    }
    h3.tribe-related-events-title {
      font-size: 1.25rem !important;
    }
    .tribe-related-events span.tribe-event-date-start, .tribe-related-events span.tribe-event-time {
      font-size: 1rem;
    }
  }
}

h2.tribe-events-related-events-title {
  border-top: 1px solid $gray;
  padding-top: 1rem;
}

.tribe-events-meta-group.tribe-events-meta-group-details {
  dd.tribe-events-event-url {
    display: inline;
  }
}

/* Gutenberg Block Editor Enabled */
.tribe_events>a, .tribe_events>p a, .single-tribe_events .tribe-events-single-event-recurrence-description>a {
  @include link;
}

.tribe-block__events-link .tribe-block__btn--link {
  margin: 1rem 1rem 0 0;
  a {
   @include button;
 }
}

.tribe-events-single-event-recurrence-description a {
  font-family: $font-stack-bold;
}

.single-tribe_events {
  .tribe-blocks-editor {
    .tribe-events-single-event-title {
      font-size: 1.75rem;
      @include font-header-extrabold;
      color: $black;
      margin-bottom: 0.5rem;
    }
    .tribe_events {
      h2.tribe-events-schedule__datetime, .tribe-events-schedule__separator--date, .tribe-events-schedule__time--start, .tribe-events-schedule__time--end, .tribe-events-schedule__separator--time{
        @include font-stack-semibold;
        color: $black;
      }
      p {
        font-size: 1.25rem;
      }
      .tribe-events-meta-group, .tribe-events-single-section-title, .tribe-events-section-category {
        margin: 0;
        dl, dt.tribe-events-event-categories-label {
          font-size: 1.25rem;
        }
        dt {
          @include font-stack-semibold;
        }
        dd {
          @include font-stack;
          a {
            @include link;
          }
        }
      }

      .tribe-events-schedule {
        margin-bottom: 1rem;
      }
      .tribe-events-event-meta {
        background: none;
        border: none;
        padding: 0;
        margin: 1rem 0 0;
        .tribe-events-meta-group {
          padding: 0;
        }
      }
      /*.tribe-events-schedule.tribe-clearfix, h2.tribe-events-schedule__datetime {
        display: none;
      }*/
      .tribe-events-schedule__date, span.tribe-events-schedule__separator.tribe-events-schedule__separator--date, .tribe-events-schedule__time, .tribe-block__venue .tribe-block__venue__meta .tribe-block__venue__name h3, .tribe-block__event-website h3 {
        font-size: 1.25rem;
      }
      .tribe-block__venue__name h3 span {
        @include font-stack;
      }
    }
    .tribe-block__venue__name:before {
      display: none;
    }
    .tribe-events-meta-group.tribe-events-meta-group-organizer {
      padding-right: 10rem !important;
      float: right;
      display: none;
    }
    .tribe-block__event-website a {
      background: none;
      padding: 0;
      display: inline;
      font-size: 1.25rem;
      @include font-stack;
      @include link;
    }
    .tribe-block__organizer__details {
      margin: 0;
      h3 {
        font-size: 1.25rem;
      }
    }
    .tribe-block__event-price .tribe-block__event-price__cost, .tribe-block__event-price .tribe-block__event-price__description {
      color: $black;
      font-weight: 300;
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
    .tribe-block__event-price__cost:before {
      display: none;
    }
    .tribe-block__organizer__title a {
      @include font-stack;
      @include link;
    }
    .tribe-block__related-events__title {
      font-size: 1.4rem;
      margin-top: 1rem;
      border-top: 1px solid $gray;
      padding-top: 1rem;
    }
    .tribe-related-events {
      .tribe-related-events-title a {
        font-size: 1.25rem;
      }
      span.tribe-event-date-start {
        font-size: 1rem;
      }
    }
    .tribe-related-events-title {
      font-size: 1.25rem;
    }
  }
}

#tribe-events-pg-template, .tribe-events-pg-template {
  @include breakpoint(small) {
    @include xy-cell(12);
  }

  @include breakpoint(medium) {
    @include xy-cell(10);
    padding-left: 1rem;
  }
}

#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template {
  padding-left: 1rem;
  margin-top: 1rem;
  padding-top: 0rem;
}

.tribe-events-back, .tribe-events-c-small-cta__price {
  display: none;
}

.tribe-related-events-thumbnail img{
  display:none;
}

.tribe-related-events-thumbnail .wp-post-image{
  display:inline-block;
}

.tribe-events-single ul.tribe-related-events {
  margin-bottom: 0;
}

.tribe-block__event-website h3 {
  margin-bottom: 4px;
}

.tribe-events-section-category dt, .tribe-events-section-category dd {
  display: inline-block;
}

//Imported Events on AGHI
.site-82 {
  .tribe-events-single-event-description.tribe-events-content {
    h2.tribe-events-schedule__datetime, .tribe-block__events-link {
      display: none;
    }
  }
  .tribe-events-single-event-description .tribe-events-single-section {
    display: none;
  }
}

.tribe-common .tribe-common-c-svgicon {
  color: $blue !important;
}

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime:after {
  background-color: $blue !important;
}

.aghi-events-home-widget {

  .tribe-common.tribe-events.tribe-events-view.tribe-events-view--widget-events-list.tribe-events-widget {
    border: none;
  }
  @include breakpoint (medium) {
    margin-left: 1rem;
    .tribe-events-widget-events-list__event-date-tag.tribe-common-g-col {
      width: 5% !important;
    }
  }

  .tribe-events-widget .tribe-events-widget-events-list__event-row--featured .tribe-events-widget-events-list__event-date-tag-datetime:after,
  .tribe-events-widget-events-list__view-more.tribe-common-b1.tribe-common-b2--min-medium,
  header.tribe-events-widget-events-list__header {
    display: none;
  }
  .tribe-events-widget-events-list__event-datetime-wrapper.tribe-common-b2.tribe-common-b3--min-medium time.tribe-events-widget-events-list__event-datetime {
    font-size: 1.125rem;
  }
  h3.tribe-events-widget-events-list__event-title.tribe-common-h7 a {
    font-size: 1.25rem;
  }
  .tribe-events-widget {
    margin-bottom: 0;
  }
}
