footer.timely.ai1ec-event-footer {
    background: inherit;
    color: $dark-gray;
}

.timely p {
  font-size: 16px;
  font-family: $font-stack !important;
  font-weight: $font-stack-weight;
}

.entry-content .timely a:visited, .comment-content .timely a:visited, .site-footer .widget .timely a:visited {
  color: $blue;
}

.timely a {
  color: $blue;
  &:link, &:visited, &:active, &:hover {
    color: $blue;
  }
}


.ai1ec-event-time, span.ai1ec-event-title, .ai1ec-event-details {
  font-family: $font-stack-bold !important;
  font-weight: $font-stack-weight;
}

.ai1ec-agenda-widget-view .ai1ec-date {
  background: none !important;
  &.ai1ec-today {
    background: none !important;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none !important;
  background: none !important;
}

.timely {
  font-family: inherit !important;
}

.ai1ec-agenda-widget-view {
  .ai1ec-event {
    .ai1ec-event-time, > a {
      color: $black;
    }
    .ai1ec-event-title {
    }
  }
  .ai1ec-date.ai1ec-today {
    border-top: none;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none;
}

.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month {
  background: $blue;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {
  color: $blue;
}

.ai1ec-event-avatar {
  box-shadow: none;
}

.ai1ec-agenda-view .ai1ec-event:hover .ai1ec-event-title {
    color: $blue;
}

.ai1ec-field-label {
  color: $dark-gray;
}

.ai1ec-subscribe-dropdown.ai1ec-dropdown.ai1ec-btn.ai1ec-btn-default.ai1ec-btn-xs {
    margin-left: .75rem;
    margin-bottom: .75rem;
}

.ai1ec-no-results {
  color: $black;
  padding: .75rem;
  font-size: 1.125rem !important;
}

.ai1ec-pull-left {
  margin-left: .5rem;
}

.ai1ec-event-details.ai1ec-clearfix {
  margin-left: -1rem;
}

.timely.ai1ec-calendar {
  .ai1ec-agenda-view .ai1ec-date-title {
    background-image: none;
    background: $blue;
    color: $white;
    border: none;
  }
  .ai1ec-agenda-view .ai1ec-month {
    font-family: $font-stack-semibold;
    font-weight: $font-stack-semibold-weight;
    color: $white;
    text-align: center;
    padding: 0;
  }
  span.ai1ec-event-title {
    font-size: 1rem;
  }
  .ai1ec-agenda-view .ai1ec-event .ai1ec-event-time {
    font-size: .9rem;
  }
  a.ai1ec-read-more.ai1ec-btn.ai1ec-btn-default.ai1ec-load-event {
    color: $white !important;
    background: $blue !important;
  }
}

.timely .ai1ec-nav-pills > li.ai1ec-active > a, .timely .ai1ec-nav-pills > li.ai1ec-active > a:hover, .timely .ai1ec-nav-pills > li.ai1ec-active > a:focus {
  background-color: $darkblue !important;
}

.ai1ec-active > a, .entry-content .timely .ai1ec-dropdown-menu > .ai1ec-active > a,  {
  //color: $black !important;
}

.ai1ec-dropdown-menu > .ai1ec-active > a, .ai1ec-dropdown-menu > .ai1ec-active > a:hover, .ai1ec-dropdown-menu > .ai1ec-active > a:focus {
  background-color: $darkblue !important;
  color: $white;
}

//Modern Tribe 
#tribe-events-pg-template .tribe-events-content, .tribe-events-after-html, .tribe-events-before-html{
  h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;   
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
  line-height: 1.6;
}

.tribe-events-notices {
  background-color: $skyblue;
}
