.frm_forms {
	label, .frm_primary_label {
		font-family: $font-stack-semibold !important;
		font-weight: $font-stack-semibold-weight !important;
		font-size: 1rem !important;
	}
	.frm_section_heading h3 {
		font-family: $font-stack-semibold !important;
		font-weight: $font-stack-semibold-weight !important;
		font-size: 1.5rem !important;
	}
	span.frm_required {
		color: $fireengine;
	}
	.frm_final_submit {
		@include button(false, $button-background, $button-background-hover, $button-color, solid);
	}
	.frm_error_style {
		@include callout-base;
		@include callout-style(get-color(alert));
	}
	.frm_hidden {
    	display: none;
	}
	.frm_blank_field {
	  input {
	    &[type=text], &[type=password], &[type=url], &[type=tel], &[type=number], &[type=email] {
	      color: $black;
	      background-color: $white;
	      border-color: $fireengine;
	      border-width: 1px;
	      border-style: solid;
	    }
	  }
	  textarea, select {
	    color: $black;
	    background-color: $white;
	    border-color: $fireengine;
	    border-width: 1px;
	    border-style: solid;
	  }
	  .g-recaptcha iframe, .chosen-container-multi .chosen-choices {
	    color: $black;
	    background-color: $white;
	    border-color: $fireengine;
	    border-width: 1px;
	    border-style: solid;
	  }
	}
	.frm_error {
		color: $fireengine;
		font-family: $font-stack-bold;
		font-weight: $font-stack-bold-weight;
		margin-bottom: 1rem;
		margin-top: -.5rem;
	}	  
	.frm_form_fields_error_style {
	  color: $black;
	  background-color: $white;
	  border-color: $fireengine;
	  border-width: 1px;
	  border-style: solid;
	}
	select {
		font-family: $font-stack-semibold !important;
		font-weight: $font-stack-semibold-weight !important;
		font-size: 1rem !important;
		&.frm_time_select {
			background-position: right;
    		background-origin: inherit;
		}
		
	}
	.frmfont:before, select.frmfont, .frm_icon_font:before, select.frm_icon_font {
		display: inline-block;
    	font-style: normal;
    	font-variant: normal;
    	text-rendering: auto;
    	-webkit-font-smoothing: antialiased;
    	font-family: "Font Awesome 5 Free" !important; 
		font-weight: 900; 
		content: '\f093';
	}
}