.widget {
  margin-bottom: 2rem;
}

//Profile & Testimonial Widget
.widget.ksas_profile,
.widget.ksas_testimonial {
  background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
  background-color: $white;
  background-size: 2.666666666666667rem auto;
  border: 0.06667rem solid $blue;
  border-bottom: none;
  box-shadow: 0 0.4rem 0 0 $primary-color;
  margin-bottom: 1.5rem;
  .widgettitle {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    color: $black;
    margin-bottom: 0;
    padding: 0.75rem 0.75rem 0;
  }
  article {
    padding: 1rem;
  }
  img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    @include breakpoint(medium down) {
      width: 4.5rem;
    }
    &.alignleft {
      padding-right: 0;
    }
  }
  .spotlight-profile-title,
  .testimonial-bio-details {
    font-size: 1.0625rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    clear: left;
  }
  p {
    a {
      color: $black;
      text-transform: uppercase;
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
      font-size: 0.9rem;
    }
  }
  .testimonial-job-details,
  .testimonial-internship-details {
    line-height: 1.5;
    font-size: 0.9em;
    strong {
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
      font-weight: normal;
      line-height: 1.3;
    }
  }
  .spotlight-profile-content,
  .testimonial-quote {
    font-size: 0.9em;
    margin-bottom: 0;
    line-height: 1.5;
  }
  .view-more-link {
    font-size: 0.9rem;
    @include breakpoint(medium) {
      margin-top: -1rem;
      margin-bottom: -1rem;
    }
    a {
      color: $blue;
      &:hover {
        color: $darkblue;
      }
    }
  }
}

//Text & Visual Studio & Nav Menu Widgets
.widget.widget_text,
.widget.widget_black_studio_tinymce,
.widget.widget_nav_menu {
  //blue background
  &:nth-of-type(even) {
    background: $blue url("../images/whiteInBlue_corner.svg") no-repeat right
      bottom;
    background-size: 2.666666666666667rem auto;
    color: $white;
    h3.widgettitle,
    h4.widgettitle,
    h5.widgettitile {
      font-size: 1.25rem;
      font-family: $font-header-extrabold;
      font-weight: $font-header-extrabold-weight;
      padding: 0.75rem 0.75rem 0 0.75rem;
      margin-bottom: 0;
    }
    .textwidget {
      p {
        a {
          color: $white;
          border-bottom: 0.0625rem solid;
          border-bottom-color: $light-gray;
          background-color: transparent;
          border-radius: 0;
          transition: border-color, background-color, color;
          transition-duration: 250ms, 250ms, 250ms;
          transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
          &:hover,
          &:active {
            color: $black;
            box-shadow: inset 0 -2.5rem 0 0 $white;
          }
        }
      }
    }
    ul {
      li {
        a {
          color: $white;
          border-bottom: 0.0625rem solid;
          border-bottom-color: $light-gray;
          background-color: transparent;
          border-radius: 0;
          transition: border-color, background-color, color;
          transition-duration: 250ms, 250ms, 250ms;
          transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
          &:hover {
            color: $black;
            box-shadow: inset 0 -2.5rem 0 0 $white;
          }
          &.button {
            background-color: $blue;
            color: $white;
          }
        }
      }
    }
  }
  //white background
  &:nth-of-type(odd) {
    background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
    background-color: $white;
    background-size: 2.666666666666667rem auto;
    border: 0.06667rem solid $blue;
    border-bottom: none;
    box-shadow: 0 0.4rem 0 0 $blue;
    h3.widgettitle,
    h4.widgettitle,
    h5.widgettitile {
      font-size: 1.25rem;
      font-family: $font-header-extrabold;
      font-weight: $font-header-extrabold-weight;
      padding: 0.75rem 0.75rem 0 0.75rem;
      margin-bottom: 0;
    }
    .textwidget {
      p,
      li {
        a {
          border-bottom: 0.0625rem solid;
          border-bottom-color: $medium-gray;
          background-color: transparent;
          border-radius: 0;
          transition: border-color, background-color, color;
          transition-duration: 250ms, 250ms, 250ms;
          transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
          &:hover {
            border-bottom: 0.0625rem solid;
            border-bottom-color: $dark-gray;
          }
        }
        &.button {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
  .textwidget {
    padding: 0.75rem;
    height: auto;
    overflow: auto;
    p,
    ul {
      font-size: 0.9em;
    }
    img {
      padding-bottom: 0.5rem;
      @include breakpoint(small only) {
        height: auto;
      }
      &.floatright {
        float: right;
        margin-left: 1rem;
      }
      &.floatleft {
        float: left;
        margin-right: 1rem;
      }
    }
  }
}

//Page Custom Sidebar Meta Field
.widget.ecpt-page-sidebar {
  background: $blue url("../images/whiteInBlue_corner.svg") no-repeat right
    bottom;
  background-size: 2.666666666666667rem auto;
  color: $white;
  padding-bottom: 1rem;
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
  ul {
    font-size: 0.9em;
    margin-left: 1.75rem;
    li {
      a {
        color: $white;
        border-bottom: 0.0625rem solid;
        border-bottom-color: $light-gray;
        background-color: transparent;
        border-radius: 0;
        transition: border-color, background-color, color;
        transition-duration: 250ms, 250ms, 250ms;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        &:hover {
          color: $black;
          border-bottom: 0.0625rem solid;
          border-bottom-color: $dark-gray;
        }
      }
    }
  }
  p {
    font-size: 0.9em;
    padding: 0.75rem 0.75rem 0 0.75rem;
    a {
      color: $white;
      border-bottom: 0.0625rem solid;
      border-bottom-color: $light-gray;
      background-color: transparent;
      border-radius: 0;
      transition: border-color, background-color, color;
      transition-duration: 250ms, 250ms, 250ms;
      transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
      &:hover {
        color: $black;
        border-bottom: 0.0625rem solid;
        border-bottom-color: $dark-gray;
      }
    }
  }
}

//Faculty Books & Bulletins
.widget.ksas_books,
.widget.ksas_bulletin {
  background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
  background-color: $white;
  background-size: 2.666666666666667rem auto;
  border: 0.06667rem solid $blue;
  border-bottom: none;
  border-top: none;
  box-shadow: 0 0.4rem 0 0 $blue;
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
  article {
    padding: 1rem;
    img {
      float: left;
      padding-right: 0.5rem;
      @include breakpoint(small only) {
        max-width: rem-calc(150px);
      }
      @include breakpoint(medium) {
        max-width: rem-calc(75px);
      }
      @include breakpoint(large) {
        max-width: rem-calc(80px);
      }
      @include breakpoint(xlarge up) {
        max-width: rem-calc(100px);
      }
    }
    h4 {
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 0rem;
      line-height: 1.1;
    }
    h5 {
      font-size: 1.125rem;
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
    }
    p {
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
      font-size: 1rem;
      strong {
        font-weight: normal;
      }
      a {
        font-family: $font-stack-semibold;
        font-weight: $font-stack-semibold-weight;
        text-transform: uppercase;
        font-size: 0.9rem;
        span.fa {
          color: $black;
        }
      }
    }
  }
}

//Specific Bulletin
.widget.ksas_bulletin {
  article {
    padding-bottom: 0rem;
    p {
      font-family: $font-stack;
      font-weight: $font-stack-weight;
    }
  }
}

//Video
.widget.widget_media_video,
.widget.ksas_video_link_widget {
  background: $gray;
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
  .wp-video {
    padding-bottom: 1rem;
  }
}

.widget.ksas_video_link_widget {
  p {
    font-size: 0.9em;
    padding: 0.75rem;
  }
  .video-thumbnail {
    position: relative;
    img {
      padding: 0.5rem 0rem;
      width: 100%;
    }
    .playbutton {
      &:before {
        font-family: $font-awesome;
        font-size: 4rem;
        font-style: normal;
        font-weight: inherit;
        text-decoration: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        content: "\f144";
      }
    }
  }
}

//Formidable Widget
.widget.widget_frm_show_form {
  //white background
  background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
  background-color: $white;
  background-size: 2.666666666666667rem auto;
  border: 0.06667rem solid $blue;
  border-bottom: none;
  box-shadow: 0 0.4rem 0 0 $blue;
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
  .frm_forms {
    padding: 0 0.75rem;
    label {
      color: $dark-gray !important;
    }
  }
  .frm_style_formidable-style.with_frm_style .frm_required {
    color: $fireengine;
  }
}

//Custom HTML widgets
.widget.widget_text .textwidget.custom-html-widget {
  overflow: hidden;
  iframe {
    margin-bottom: 1rem;
  }
}

.widget.widget_search {
  @include callout-base;
}

.widget.widget_custom-twitter-feeds-widget {
  background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
  background-color: $white;
  background-size: 2.666666666666667rem auto;
  border: 0.06667rem solid $blue;
  border-bottom: none;
  box-shadow: 0 0.4rem 0 0 $blue;
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
  .textwidget {
    p,
    li {
      a {
        border-bottom: 0.0625rem solid;
        border-bottom-color: $medium-gray;
        background-color: transparent;
        border-radius: 0;
        transition: border-color, background-color, color;
        transition-duration: 250ms, 250ms, 250ms;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        &:hover {
          border-bottom: 0.0625rem solid;
          border-bottom-color: $dark-gray;
        }
      }
    }
  }
}

//All Tribe widgets
.tribe-events-list-widget,
.tribe-events-adv-list-widget,
.widget.tribe_mini_calendar_widget {
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
}

//Event List Widget
.tribe-events-list-widget,
.tribe-events-adv-list-widget {
  background: url("../images/blueInWhite_corner1.svg") no-repeat right bottom;
  background-color: $white;
  background-size: 2.666666666666667rem auto;
  border: 0.06667rem solid $blue;
  border-bottom: none;
  box-shadow: 0 0.4rem 0 0 $blue;
  p {
    padding: 0.75rem;
    font-size: 0.9em;
  }
  .tribe-list-widget {
    padding-top: 1rem;
  }
  .tribe-events-list-widget-events {
    h4.tribe-event-title {
      font-size: 1.125rem;
    }
    .tribe-event-duration {
      span.tribe-event-date-start,
      span.tribe-event-time {
        font-family: $font-stack-semibold;
        font-weight: $font-stack-semibold-weight;
      }
      span.timezone {
        display: none;
      }
    }
  }
  .tribe-events-widget-link a {
    padding: 1rem !important;
    text-transform: uppercase;
    font-family: "gentona-semibold", "Helvetica Neue", Roboto, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    &::after {
      font-family: "Font Awesome 5 Free", "gentona-semibold", "Helvetica Neue",
        Roboto, sans-serif;
      padding-left: 0.2rem;
      font-weight: 900;
      content: "\f138";
    }
  }
  .tribe-mini-calendar-event {
    padding: 0 0.5rem;
    .list-info {
      font-size: 0.9rem;
      h2.tribe-events-title {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }
      .tribe-events-duration {
        font-size: 0.9rem;
      }
    }
    .list-date {
      background: $blue;
    }
    .list-dayname {
      color: $black !important;
      font-size: 0.75rem !important;
    }
    .tribe-section-s {
      padding-top: 0;
    }
  }
  p.tribe-events-widget-link {
    @include button;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    a {
      color: $white;
    }
  }
}

//Mini Calendar Weiget
.widget.tribe_mini_calendar_widget {
  background: $light-gray;
  border: 1px solid $gray;
  box-shadow: none;
  .tribe-mini-calendar-grid-wrapper {
    padding: 0.25rem;
    margin: 0.5rem 0;
  }
  .tribe-mini-calendar {
    margin-left: 0px;
    margin-bottom: 0;
    thead,
    th,
    .tribe-mini-calendar-nav td {
      background: $blue;
      border: 1px solid $blue;
    }
    .tribe-events-othermonth span {
      color: $gray;
    }
    .tribe-events-thismonth {
      &.tribe-events-past {
        background-color: $light-gray;
        opacity: 1;
        .tribe-mini-calendar-no-event {
          color: $black;
        }
        &.tribe-events-has-events {
          background-color: $medium-gray;
          a.tribe-mini-calendar-day-link {
            color: $black;
            border-bottom: none;
            &:before {
              background: $black;
            }
          }
        }
      }
      &.tribe-events-future {
        background-color: $accessiblue;
        color: $white;
        a.tribe-mini-calendar-day-link {
          border-bottom: none;
        }
      }
    }
    .tribe-events-present,
    .tribe-mini-calendar-today {
      background-color: $blue;
    }
  }
  .tribe-mini-calendar-event {
    border-bottom: none;
    padding: 0 0.5rem;
    .list-info {
      font-size: 0.9rem;
      h2.tribe-events-title {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
      }
      .tribe-events-duration {
        font-size: 0.9rem;
      }
    }
    .list-date {
      background: $blue;
    }
    .list-dayname {
      color: $black;
      font-size: 0.75rem;
    }
    .tribe-section-s {
      padding-top: 0;
    }
  }
}

//Home Feature Widget
.widget.home-featured {
  .widget_title {
    h3 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  &.ksas_testimonial {
    .widget_title {
      h3 {
        color: $white;
      }
    }
  }
  &.tribe-events-adv-list-widget,
  &.widget_ai1ec_agenda_widget {
    background: $light-gray;
    border: 1px solid $gray;
    box-shadow: none;
    padding: 0.5rem;
    .tribe-events-widget-link {
      &:hover {
        @include button-hollow;
        border: 1px solid $blue;
        color: $blue;
        a {
          color: $blue;
        }
      }
      a {
        font-size: 0.75rem;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
    }
  }
}

//This Week's Events Widget
.tribe-this-week-events-widget {
  background: $light-gray;
  border: 1px solid $gray;
  box-shadow: none;
  padding: 0.5rem;
  //padding: .75rem;
  h2.tribe-events-page-title {
    font-size: 1rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    margin-bottom: 0;
    text-align: left;
  }
  .tribe-this-week-widget-wrapper {
    a,
    .entry-title a {
      color: $black;
    }
  }
  .tribe-this-week-widget-weekday-wrapper {
    padding: 0.25rem;
    margin-bottom: 0px;
  }
  .this-week-past .tribe-this-week-widget-header-date {
    background-color: $gray;
    color: black;
  }
  .this-week-today .tribe-this-week-widget-header-date {
    background-color: $blue;
  }
  .tribe-this-week-widget-header-date {
    background-color: $accessiblue;
  }
  .tribe-this-week-widget-vertical .tribe-this-week-widget-day {
    color: $black;
  }
  .tribe-this-week-event {
    border-left-color: $blue;
  }
  .this-week-no-events-msg {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    background: $white;
  }
  .tribe-this-week-widget-day-wrap {
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    margin-bottom: 0.5rem;
    padding: 0;
  }
  .this-week-past .tribe-this-week-widget-header-date,
  .this-week-today .tribe-this-week-widget-header-date,
  .tribe-this-week-widget-header-date {
    margin-bottom: 0px;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-top: 1px solid $black;
  }
  .tribe-this-week-widget-vertical .tribe-this-week-widget-header-date {
    padding-left: 0.5rem;
  }
  .tribe-events-sub-nav {
    margin: 0.5rem 0;
  }
}

.widget.widget_media_image {
  background-color: $white;
  border: 0.06667rem solid $blue;
  border-bottom: none;
  box-shadow: 0 0.4rem 0 0 $blue;
  h3.widgettitle,
  h4.widgettitle,
  h5.widgettitile {
    font-size: 1.25rem;
    font-family: $font-header-extrabold;
    font-weight: $font-header-extrabold-weight;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0.75rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 0.75rem;
  }
}

//v5.2 Widget List (Major Changes)

//Widget Background
.tribe-common.tribe-events.tribe-events-view.tribe-events-view--widget-events-list.tribe-events-widget {
  background: $light-gray;
  border: 1px solid $gray;
  box-shadow: none;
  padding: .5rem;
}

//Header
header.tribe-events-widget-events-list__header {
  padding-bottom: .25rem!important;
}
h3.tribe-events-widget-events-list__header-title.tribe-common-h6.tribe-common-h--alt {
  font-size: 1.5rem;
  text-align: center;
}

//Month & Day
.tribe-events-widget-events-list__event-date-tag.tribe-common-g-col {
  margin-right: .5rem;
  width: 20% !important;
}
span.tribe-events-widget-events-list__event-date-tag-month {
  border: 2px solid $blue;
  color: $black !important;
  margin: .25rem;
  font-family: "gentona-semibold", "Helvetica Neue", Roboto, sans-serif !important;
  font-weight: 600;
  font-size: .75rem !important;
}
span.tribe-events-widget-events-list__event-date-tag-daynum.tribe-common-h2.tribe-common-h4--min-medium {
  color: $white !important;
  background-color: $blue !important;
  margin: .25rem;
  font-size: 1rem;
  font-family: "gentona-semibold", "Helvetica Neue", Roboto, sans-serif !important;
  font-weight: 600;
}

//Event Title
h3.tribe-events-widget-events-list__event-title.tribe-common-h7 {
  line-height: 1;
  margin-bottom: .25rem;
  a {
    font-size: 1.125rem;

  }
}

//Event Time
.tribe-events-widget-events-list__event-datetime-wrapper.tribe-common-b2.tribe-common-b3--min-medium {
  time.tribe-events-widget-events-list__event-datetime {
    color: $black;
    font-family: $font-stack;
    font-weight: $font-stack-weight;
    font-size: .9rem;
  }
}

//View More Button
.tribe-events-widget-events-list__view-more.tribe-common-b1.tribe-common-b2--min-medium {
  @include button;
  margin: 1rem;
  &:hover {
    @include button-hollow;
    border: 1px solid $blue;
    color: $blue;
    a {
      color: $blue !important;
    }
  }
  a {
    padding: 1rem !important;
    text-transform: uppercase;
    font-family: "gentona-semibold", "Helvetica Neue", Roboto, sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: $white !important;
    &::after{
    font-family: "Font Awesome 5 Free", "gentona-semibold", "Helvetica Neue", Roboto, sans-serif;
      padding-left: .2rem;
      font-weight: 900;
      content: "\f138";
    }
  }
}


.home-featured-widget-area {
  margin-top: 2rem;
  .callout.home-featured-widget.widget.widget_text {
    margin-bottom: 1rem;
    background: rgba(191,204,217,.5);
    border: 1px solid rgba(10, 10, 10, 0.25);
    box-shadow: none;
    color: $black;
    .textwidget {
      p {
        font-size: 1.125rem;
        &:last-of-type {
          margin-bottom: 0;
        }
        a {
          font-family: "gentona-semibold", "Helvetica Neue", Roboto, sans-serif;
          font-weight: 600;
          color: $blue;
          border-bottom-color: $medium-gray;
          &:hover {
            border-bottom: 0.0625rem solid;
            border-bottom-color: $dark-gray;
            box-shadow: none;
            color: $black;
          }
        }
      }
    }
  }
}
