.footer {
  background-color: $black;
  margin: 0 auto;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(60);
}

.footer-container {
  text-align:center;
  @include xy-grid-container;
  padding: rem-calc(10) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }
  p {
    color: $white;
    font-size: 1rem;
  }
  .social-media {
    a {
      color: $white;
      margin-left: 1.3rem;
      &:hover {
        transition: color 0.5s ease;
        border-bottom: 0.0625rem dashed;
      }
      @include breakpoint(medium down) {
        float: left;
        margin-top: 1rem;
      }
      .fa {
        padding: 0 .5rem;
        color: $white;
      }
    }
  }  
  .jhushield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
  }
  .copydate {
     margin-top: 1rem;
     @include xy-cell();
     a {
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      color: $white;
      &:hover {
        border-bottom: 0.0625rem dashed;
        transition: color 0.5s ease; 
      }
     }
  }  
}

.footer-links {
  margin-top: 1rem;
  .menu {
    //padding: 0;
    a {
      padding: 0.5rem;
      font-size: 1rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      color: $white;
      &:hover {
        border-bottom: 0.0625rem dashed;
        transition: color 0.5s ease; 
      }
    }
  } 
}

.centered {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
}